<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>


<script type='text/javascript'>
    $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({internal: {id: 'map'}}, function(){
            var markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            google.maps.event.addListener(handler.getMap(), 'click', function(object){
                $('#fishing_locations_latitude').val(object.latLng.lat());
                $('#fishing_locations_longitude').val(object.latLng.lng());
            });
        });

    });


</script>

<h1>Fishing Locations</h1>
<div  style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  <br />
  <h3>Lisa uus kalastuspaik(Kliki kaardil, et asukoha koordinaadid täituksid automaatselt):</h3>
  <%= form_for @fishing_location, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
      <%= f.text_field :latitude %>  <br />
      <%= f.text_field :longitude %> <br />
      <%= f.text_area :title, size: "40x12" %> <br />
      <%= f.submit "Create" %>
  <% end %>
</div>