<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>


<script type='text/javascript'>
    $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({internal: {id: 'map'}}, function(){
            var markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            handler.getMap().setZoom(9);
            google.maps.event.addListener(handler.getMap(), 'click', function(object){
                $('#spots_latitude').val(object.latLng.lat());
                $('#spots_longitude').val(object.latLng.lng());
            });
        });
    });


</script>

<h1>Fishing Spots</h1>
<div  style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  <br />
  <h3>Täpne asukoht,kus kala said?(Kliki kaardil, et asukoha koordinaadid täituksid automaatselt):</h3>
  <%= form_for @fishing_spot, url: {action: "create_spot"}, html: {class: "nifty_form"} do |f| %>
      <input name="spots[fishingLocationId]" type="hidden" value="<%= params[:id] %>" />
      <%= f.text_field :latitude %>  <br />
      <%= f.text_field :longitude %> <br />
      <%= f.text_area :comment, size: "40x12" %> <br />
      <%= f.submit "Create" %>
  <% end %>
</div>